body {
    /* background-color: black; */
    /* color: antiquewhite; */
}

.custom-btn {
    margin-left: auto;
    background-color: #F3F3F3;
    color: black;
}

.h1-hero {
    margin-bottom: 1em;
    /* padding: 20px; */
    font-size: 4em;
    
}

.p-hero {
        font-size: 2em;
}

.h2-services{
    background-color: #B9FF66;
    border-radius: 10px;
    padding-left: 1em;
}

.p-services{
    font-size: 18px;
}

.engineopt {
    background-color: #B9FF66;
}
.advertising {
    background-color: #F3F3F3 ;
}


.process {
       padding: 10px;
    display: flex;
    align-items: center;   
    gap: 2em;
}
.process > button{
    margin-left: auto;    
}
.process > p {
    margin-top: 10px;
}


.moreinfo {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.moreinfo.show{
    max-height: 200px;

}

.process-card-active {
    background-color: #B9FF66;
    transition: background-color 0.3s ease;
}


.form {
    background-color: #F3F3F3;
}
.form-message{
    margin-top:15%;
}
