body {
    background-color: rgb(250, 245, 245);
    
}

.ser-card-css{
    background-color:  #B9FF66 ;
}

.custom-card{
    padding: 20px;
    display: flex;
}
.custom-card > h3 {
    margin-left: 20px;
}

button{
    margin-left: auto;
}

.custom-col{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.custom-col.show {
    margin: 10px;
    max-height: 20px;    
}
.container-card-active{
    background-color: #B9FF66;
}
